<%= form_for(@song, :html => { :multipart => true }) do |f| %>
  <% if @song.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@song.errors.count, "error") %> prohibited this song from being saved:</h2>

      <ul>
      <% @song.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :lyrics %><br />
    <%= f.text_field :lyrics %>
  </div>
  <div class="field">
   <%= f.label :audio %><br />
  <%= f.file_field :audio %>
  </div>

<div class="actions">
    <%= f.submit %>
  </div>
<% end %>
