<h1>Listing songs</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Lyrics</th>
    <th>Band</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @songs.each do |song| %>
  <tr>
    <td><%= song.name %></td>
    <td><%= song.description %></td>
    <td><%= song.lyrics %></td>
    <td><%= song.band_id %></td>
    <td><%= link_to song.audio.url, song.audio.url %></td>
    <td><%= link_to 'Show', song %></td>
    <td><%= link_to 'Edit', edit_song_path(song) %></td>
    <td><%= link_to 'Delete', song, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Song', new_song_path %>
