<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @band.name %>
</p>

<p>
  <b>Description:</b>
  <%= @band.description %>
</p>

<p>
  <b>Website:</b>
  <%= @band.website %>
</p>

<p>
  <b>Facebook:</b>
  <%= @band.facebook %>
</p>

<p>
  <b>Myspace:</b>
  <%= @band.myspace %>
</p>

<p>
  <b>Location:</b>
  <%= @band.location %>
</p>


<%= link_to 'Edit', edit_band_path(@band) %> |
<%= link_to 'Back', bands_path %>
