<!DOCTYPE html>
<html>
<head>
  <title>Battleofthebands</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'rails.js', 'jquery.min.js', 'jquery_ujs.js' %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
